@tailwind components;
@tailwind utilities;

/* For debugging */
/* * {
  outline: 1px solid red;
} */

html {
  font-family: 'Maven Pro', sans-serif;
}

#marinade-terminal * {
  box-sizing: border-box;
}

#marinade-terminal *:focus {
  outline: none;
}

/* ActionButton border gradient */
#marinade-terminal .jup-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.5rem;
  padding: 2px;
  background: #ecfaf5;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: source-out;
}

/* Custom scroll bar */
.webkit-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.webkit-scrollbar::-webkit-scrollbar-thumb {
  margin: 2px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #979797;
}

#marinade-terminal .jup-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.5rem;
  padding: 2px;
  background: #ecfaf5;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: source-out;
}


/* ActionButton border gradient */
#marinade-terminal .v2-border-gradient::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1px;
  background: linear-gradient(91.26deg, rgba(250, 196, 58, 0.5) 15.73%, rgba(113, 229, 237, 0.5) 83.27%);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: source-out;
  z-index: 10;
  pointer-events: none;
}

#marinade-terminal .v2-border-gradient-left.v2-border-gradient::before {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
#marinade-terminal .v2-border-gradient-center.v2-border-gradient::before {
  border-radius: 0.75rem;
}
#marinade-terminal .v2-border-gradient-right.v2-border-gradient::before {
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}

  /* Add tooltip functionality */
.jupiter-tooltip {
  @apply invisible absolute;
  @apply bg-black text-[#4A5568] p-2 rounded-lg;
}

.jupiter-has-tooltip:hover .jupiter-tooltip {
  @apply visible z-50;
}

a {
  color: #308D8A;
  cursor: pointer;
}